{%- style -%}
:root {
  --width-container: {{settings.container_width_mobile}}%;
  --bg-container: {{settings.bg_container}};
  --opacity-lvl: {{settings.opacity_level}};
  --color-text: {{settings.color_text}};
  --font-size-text: {{settings.font_size_mobile}}px;
  --font-size-heading: calc(var(--font-size-text) * {{settings.size_factor}});
}
@media(min-width: 768px) {
  :root {
  --font-size-text: {{settings.font_size_desktop}}px;
  --font-size-heading: calc(var(--font-size-text) * {{settings.size_factor}});
  --width-container: {{settings.container_width}}%;
  }
}
{%- endstyle -%}

{{- "component-overlay-wishlish.css" | asset_url | stylesheet_tag -}}

<div class="wishlish">
  <div class="wishlish-overlay"> </div>
  <div class="wishlish-container wishlish-body">
    <div class="wishlish-header">
      <h2>{{- settings.heading -}}</h2>
      <svg class="icon-close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1236_3660)">
          <path d="M13.5 0.5L0.5 13.5" stroke="#000001" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M0.5 0.5L13.5 13.5" stroke="#000001" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
          <clipPath id="clip0_1236_3660">
            <rect width="14" height="14" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>

    <div class="wishlish-empty">
      <h3>{{settings.empty_text}}</h3>
    </div>
    <div class="wishlish-main"></div>
    <div class="wishlish-footer">
      {%render "wishlist-share" %}
    </div>
  </div>
  <div class="wishlish-share">
    <div class="wishlish-share-container"></div>
    <template id="share-pop">
      <div class="wishlish-share__item">
        <a target="_blank" href="" class="wishlish-share__img">
          <img src="" loading="lazy" alt="Share image">
        </a>
        <div class="wishlish-share__text">
          <p class="wishlish-share__title"></p>
          <button class="wishlish-share__btn"></button>
        </div>
      </div>
    </template>
  </div>
</div>

{{- "component-overlay-wishlish.js" | asset_url | script_tag -}}


{% schema %}
{
"name": "Wishlish"
}
{% endschema %}